.main-content {
  margin-left: 240px;
  overflow: hidden;
}

.page-content {
  padding: 94px 12px 60px;
  height: 100vh;
}

.main-content-hide {
  margin-left: 70px;
}

/* media query here */

@media (max-width: 992px) {
  .main-content {
    margin-left: 70px;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .main-content {
    margin-left: 0px;
  }
}
